pkgbase = zephir
	pkgdesc = Zephir is a compiled high level language aimed to the creation of C-extensions for PHP http://zephir-lang.com/
	pkgver = 0.12.13
	pkgrel = 1
	url = https://github.com/phalcon/zephir
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = php
	depends = php-zephir-parser
	source = https://github.com/phalcon/zephir/releases/download/0.12.13/zephir.phar
	sha256sums = 6c45931c1af194990dfbe601ec596e6b7dfcc2d78b430670348f0a554afac536

pkgname = zephir

