pkgbase = zephir
	pkgdesc = Zephir is a compiled high level language aimed to the creation of C-extensions for PHP http://zephir-lang.com/
	pkgver = 0.12.5
	pkgrel = 1
	url = https://github.com/phalcon/zephir
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = php
	depends = php-zephir-parser
	source = https://github.com/phalcon/zephir/releases/download/0.12.5/zephir.phar
	sha256sums = 066aa181d49458abecc679db07053d28e9522afc5cb7b43ee1f7a6510acfcd5d

pkgname = zephir

