pkgbase = zephir
	pkgdesc = Zephir is a compiled high level language aimed to the creation of C-extensions for PHP http://zephir-lang.com/
	pkgver = 0.12.15
	pkgrel = 1
	url = https://github.com/phalcon/zephir
	arch = x86_64
	arch = i686
	license = MIT
	makedepends = php
	depends = php-zephir-parser
	source = https://github.com/phalcon/zephir/releases/download/0.12.15/zephir.phar
	sha256sums = db6635d4dc4fb9762eada8aa3c0de94d236f3005ba897f50d082d8d1cbf1da01

pkgname = zephir

